:root {
  --bgColor: #dbc08a;
  --tColor: #433d3d;
}

.App {
  background-color: var(--bgColor);
  color: var(--tColor);
  size: 16px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-in-out;
}

#quote-box {
  max-width: 40%;
  background-color: white;
  padding: 3rem;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

